<section>
  <div class="page-header">
    <h1>{{vm.company._id ? 'Edit Company' : 'New Company'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.companyForm" class="form-horizontal" ng-submit="vm.save(vm.form.companyForm.$valid)" novalidate>
      <fieldset>
        <!-- Name -->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.company.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.companyForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>
        <!-- Contact information -->
        <h2>Contact information</h2>
        <!-- Name -->
        <div class="form-group" show-errors>
          <label class="control-label" for="contactname">Contactperson</label>
          <input name="contactname" type="text" ng-model="vm.company.contact.name" id="contactname" class="form-control">
          <div ng-messages="vm.form.companyForm.contactname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contactperson is required.</p>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" show-errors>
          <label class="control-label" for="contactemail">Contactemail</label>
          <input name="contactemail" type="text" ng-model="vm.company.contact.email" id="contactemail" class="form-control">
          <div ng-messages="vm.form.companyForm.contactemail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contact email is required.</p>
          </div>
        </div>
        <!-- Telephone -->
        <div class="form-group" show-errors>
          <label class="control-label" for="contacttelephone">Contacttelephone</label>
          <input name="contacttelephone" type="text" ng-model="vm.company.contact.telephone" id="contacttelephone" class="form-control">
          <div ng-messages="vm.form.companyForm.contacttelephone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contact telephone is required.</p>
          </div>
        </div>
        <!-- Information -->
        <div class="form-group" show-errors>
          <label class="control-label" for="contactinfo">Contact information</label>
          <input name="contactinfo" type="text" ng-model="vm.company.contact.information" id="contactinfo" class="form-control">
          <div ng-messages="vm.form.companyForm.contactinfo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contact information is required.</p>
          </div>
        </div>
        <!-- Invoice information -->
        <h2>Invoice information</h2>
        <!-- Address -->
        <div class="form-group" show-errors>
          <label class="control-label" for="address">Address</label>
          <input name="address" type="text" ng-model="vm.company.invoice.address" id="address" class="form-control">
          <div ng-messages="vm.form.companyForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Address is required.</p>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" show-errors>
          <label class="control-label" for="invoiceemail">Invoice email</label>
          <input name="invoiceemail" type="text" ng-model="vm.company.invoice.email" id="invoiceemail" class="form-control">
          <div ng-messages="vm.form.companyForm.invoiceemail.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Invoice email is required.</p>
          </div>
        </div>
        <!-- Telephone -->
        <div class="form-group" show-errors>
          <label class="control-label" for="invoicetelephone">Invoice telephone</label>
          <input name="invoicetelephone" type="text" ng-model="vm.company.invoice.telephone" id="invoicetelephone" class="form-control">
          <div ng-messages="vm.form.companyForm.invoicetelephone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Invoice telephone is required.</p>
          </div>
        </div>
        <!-- Organisation number -->
        <div class="form-group" show-errors>
          <label class="control-label" for="orgnbr">Organisation number</label>
          <input name="orgnbr" type="text" ng-model="vm.company.invoice.organisationnumber" id="orgnbr" class="form-control">
          <div ng-messages="vm.form.companyForm.orgnbr.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Organisation number is required.</p>
          </div>
        </div>
        <!-- Contract information -->
        <h2>Contract information</h2>
        <!--  Fair information -->
        <h2>Fair information</h2>
        <!--  Description -->
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Beskrivning</label>
          <input name="description" type="text" ng-model="vm.company.fair_info.description" id="description" class="form-control">
          <div ng-messages="vm.form.companyForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Description is required.</p>
          </div>
        </div>
        <!--  Fun Fact -->
        <div class="form-group" show-errors>
          <label class="control-label" for="funfact">Fun fact</label>
          <input name="funfact" type="text" ng-model="vm.company.fair_info.funfact" id="funfact" class="form-control">
          <div ng-messages="vm.form.companyForm.funfact.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Fun fact is required.</p>
          </div>
        </div>
        <!-- Facebook-link -->
        <div class="form-group" show-errors>
          <label class="control-label" for="facebook">Facebook-länk</label>
          <input name="facebook" type="text" ng-model="vm.company.fair_info.facebook" id="facebook" class="form-control">
          <div ng-messages="vm.form.companyForm.facebook.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Facebook link is required.</p>
          </div>
        </div>
        <!-- Twitter-link -->
        <div class="form-group" show-errors>
          <label class="control-label" for="twitter">Twitter-länk</label>
          <input name="twitter" type="text" ng-model="vm.company.fair_info.twitter" id="twitter" class="form-control">
          <div ng-messages="vm.form.companyForm.twitter.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Twitter link is required.</p>
          </div>
        </div>
        <!-- Youtube-link -->
        <div class="form-group" show-errors>
          <label class="control-label" for="youtube">Youtube-länk</label>
          <input name="youtube" type="text" ng-model="vm.company.fair_info.youtube" id="youtube" class="form-control">
          <div ng-messages="vm.form.companyForm.youtube.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Youtube link is required.</p>
          </div>
        </div>
        <!-- Linkedin-link -->
        <div class="form-group" show-errors>
          <label class="control-label" for="linkedin">Linkedin-länk</label>
          <input name="linkedin" type="text" ng-model="vm.company.fair_info.linkedin" id="linkedin" class="form-control">
          <div ng-messages="vm.form.companyForm.linkedin.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Linkedin link is required.</p>
          </div>
        </div>
        <!-- Email-link -->
        <div class="form-group" show-errors>
          <label class="control-label" for="email">Email-länk</label>
          <input name="email" type="text" ng-model="vm.company.fair_info.email" id="email" class="form-control">
          <div ng-messages="vm.form.companyForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email link is required.</p>
          </div>
        </div>
        <!-- Web-link -->
        <div class="form-group" show-errors>
          <label class="control-label" for="web">Web-länk</label>
          <input name="web" type="text" ng-model="vm.company.fair_info.web" id="web" class="form-control">
          <div ng-messages="vm.form.companyForm.web.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Web link is required.</p>
          </div>
        </div>
        <!-- Submit buttons -->
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.company._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
