<section>
  <div class="page-header">
    <h1>Companies</h1>
  </div>
  <div class="list-group">
    <table class="table table-bordered table-hover table-condensed">
      <tr style="font-weight: bold">
        <td style="width:7%">Skapat</td>
        <td style="width:20%">Namn</td>
      </tr>
      <tr ng-repeat="c in vm.companies">
        <td><span>{{ vm.dateFilter(c.created, 'yyyy-MM-dd') }}</span></td>
        <td><a data-ui-sref="companies.view({ companyId: c._id })" >{{ c.name }}</a></td>
      </tr>
    </table>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.companies.$resolved && !vm.companies.length">
    No Companies yet, why don't you <a data-ui-sref="companies.create">create one</a>?
  </div>
</section>
